<!DOCTYPE html>
<html>
<head>
    <title>阿里云对象存储设置</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap-switch.css"/>
    <link rel="stylesheet" href="assets/css/jquery.gritter.css"/>

    <script src="assets/js/jquery-2.0.3.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-switch.js"></script>
    <script src="assets/js/jquery.gritter.min.js"></script>
    <script src="js/setting.js"></script>
    <style>
        body {
            margin: 0;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            font-variant: tabular-nums;
            line-height: 1.5;
            font-feature-settings: 'tnum';
            background: transparent;
        }

        .dark {
            background-color: #000;
            color: #fff
        }
    </style>
</head>
<body class="${theme}">
<form class="form-horizontal" id="ajaxyunstore" role="form" style="width: 100%;max-width: 960px">
    <div id="vue-div">
        <div class="page-header">
            <h3>
                阿里云 OSS 对象存储设置
                <small>{{version}}</small>
                <a href="https://blog.zrlog.com/post/oss-install" target="_blank"
                   style="float:right">如何寻找这些信息？</a>
            </h3>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> AccessKey </label>

            <div class="col-sm-6">
                <input type="text" placeholder="" class="form-control" :value="val(cos.access_key)"
                       name="access_key">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> SecretKey </label>

            <div class="col-sm-6">
                <input type="text" placeholder="" class="form-control" :value="val(cos.secret_key)"
                       name="secret_key">

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 域名 </label>

            <div class="col-sm-4">
                <input type="text" placeholder="" class="form-control"
                       :value="val(cos.host)" name="host">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 仓库名 </label>

            <div class="col-sm-3">
                <input type="text" placeholder="" class="form-control"
                       :value="val(cos.bucket)"
                       name="bucket">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> 私有仓库名 </label>

            <div class="col-sm-3">
                <input type="text" placeholder="存储敏感信息，如数据库备份文件" class="form-control"
                       :value="val(cos.private_bucket)"
                       name="private_bucket">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"> Endpoint（地域节点）</label>

            <div class="col-sm-3">
                <input type="text" placeholder="" class="form-control"
                       :value="val(cos.region)"
                       name="region">

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> 主题静态文件同步</label>

        <div class="col-sm-9">
            <input type="hidden" name="syncTemplate" id="syncTemplateVal">
            <input id="syncTemplate-switch" type="checkbox"/> （需要主题支持）
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> 静态缓存 html 文件同步</label>

        <div class="col-sm-9">
            <input type="hidden" name="syncHtml" id="syncHtmlVal">
            <input id="syncHtml-switch" type="checkbox"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> 启用 HTTPS</label>

        <div class="col-sm-9">
            <input type="hidden" name="supportHttps" id="supportHttpsVal">
            <input id="supportHttps-switch" type="checkbox"/>
        </div>
    </div>
    <hr/>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button" id="yunstore">
                提交
            </button>
        </div>
    </div>
</form>
<input id="gritter-light" checked="" type="checkbox" style="display:none"/>
<pre id="data" style="display: none">${data}</pre>
</body>
</html>